<!DOCTYPE html>
<html ng-app="codeSozluk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Sozluk</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
