<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="codeSozluk" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Styles.Render("~/Content/css")
</head>
<body class="theme-monokai">
    <div id="sidebar">
        <ul></ul>
    </div>
    <header>
        <ul>
            <!-- <!doctype html> -->
            <li>
                <span class="html-symbol">&lt;!</span><span class="html-tag shuffleme animate-words">doctype</span><span class="html-symbol"> html&gt;</span>
            </li>
            <!-- <head> -->
            <li>
                <span class="html-symbol">&lt;</span><span class="html-tag">head</span><span class="html-symbol">&gt;</span>
                <ul>
                    <!-- <meta name="Home" content="Popular Topics"> -->
                    <li>
                        <span class="html-symbol">&lt;</span><span class="html-tag">meta</span><span class="html-data"> name</span><span class="html-symbol">=</span><span class="html-string">"Home"</span><span class="html-data"> content</span><span class="html-symbol">=</span><a class="html-string shuffleme" href="#/">"Popular Topics"</a><span class="html-symbol">&gt;</span>
                    </li>
                    <!-- <script name="Search"> write here </script> -->
                    <li>
                        <span class="html-symbol">&lt;</span>
                        <span class="html-tag">script</span>
                        <span class="html-data"> name</span>
                        <span class="html-symbol">=</span>
                        <span class="html-string">"Search"</span>
                        <span class="html-symbol">&gt;</span>
                        <input id="search" class="html-paragraph" type="text" name="search" placeholder="type here" ng-search>
                        <span class="html-symbol" style="margin-left: 10px">&lt;/</span><span class="html-tag">script</span>
                        <span class="html-symbol">&gt;</span>
                    </li>
                    <br>
                    <!-- <meta name="Description" content="readme"> -->
                    <li>
                        <span class="html-symbol">&lt;</span><span class="html-tag">meta</span><span class="html-data"> name</span><span class="html-symbol">=</span><span class="html-string">"Description"</span><span class="html-data"> content</span><span class="html-symbol">=</span><a class="html-string shuffleme">"readme.txt"</a><span class="html-symbol">&gt;</span>
                    </li>
                    <!-- <link rel="stylesheet" href="css/themes.css"> -->
                    <li>
                        <span class="html-symbol">&lt;</span><span class="html-tag">link</span><span class="html-data"> rel</span><span class="html-symbol">=</span><span class="html-string">"Stylesheet"</span><span class="html-data"> href</span><span class="html-symbol">=</span><a id="btn-theme" class="html-string shuffleme">"css/themes.css"</a><span class="html-symbol">&gt;</span>
                    </li>
                    <!-- <link rel="stylesheet" href="css/language.css"> -->
                    <li>
                        <span class="html-symbol">&lt;</span><span class="html-tag">link</span><span class="html-data"> rel</span><span class="html-symbol">=</span><span class="html-string">"Stylesheet"</span><span class="html-data"> href</span><span class="html-symbol">=</span><a class="html-string shuffleme">"css/language.css"</a><span class="html-symbol">&gt;</span>
                    </li>
                </ul>
                <!-- </head> -->
            <li>
                <span class="html-symbol">&lt;/</span><span class="html-tag">head</span><span class="html-symbol">&gt;</span>
            </li>
        </ul>
    </header>
    <main class="home">
        <ul>
            <li>
                <span class="html-symbol">&lt;</span><span class="html-tag">body</span><span class="html-symbol">&gt;</span>
            </li>
        </ul>
        <div class="html snippet-wrapper" href="">
            <ul>
                @RenderBody()
            </ul>
        </div>
        <ul>
            <li>
                <span class="html-symbol">&lt;/</span><span class="html-tag">body</span><span class="html-symbol">&gt;</span>
            </li>
        </ul>

    </main>
</body>
</html>
