
@{
    Layout = null;
}
<ul>
    <li>
        <span class="html-comment">&lt;!-- ABOUT CODE EK$i--&gt;</span>
    </li>
</ul>

<a class="html snippet-wrapper" href="#/about">
    <ul>
        <li class="topic-entry">
            <span class="html-symbol">&lt;</span><span class="html-tag">section</span><span class="html-symbol">&gt;</span>
        </li>
        <li>

            <p class="html-paragraph">
                CODE EK$i içerisinde bulunan tüm içerik <a href="http://www.eksisozluk.com">ek$isozluk.com</a>'a aittir.
            </p>
            <br />
            <br />
            <p class="html-paragraph">
                CODE EK$i eğlence amacıyla yapılmış bir site olup hiç bir ticari amaç gütmemektedir. Ek$i Sözlük'ü daha güzel, hızlı ve doğru düzgün gezmek için <a href="http://www.eksisozluk.com">ek$isozluk.com</a>'u ziyaret edin.
            </p>
            <br />
            <br />
            <p class="html-paragraph">
                Projenin kodlarına erişmek için linke tıklayın 
                <a href="https://github.com/CodeFiction/CodeEksi"> https://github.com/CodeFiction/CodeEksi </a>.
                <br/><br/>
                <pre>
#    ______                  __             ______   __             __      __
#   /      \                |  \           /      \ |  \           |  \    |  \
#  |  $$$$$$\ ______    ____| $$  ______  |  $$$$$$\ \$$  _______ _| $$_    \$$  ______   _______
#  | $$   \$$/      \  /      $$ /      \ | $$_  \$$|  \ /       \   $$ \  |  \ /      \ |       \
#  | $$     |  $$$$$$\|  $$$$$$$|  $$$$$$\| $$ \    | $$|  $$$$$$$\$$$$$$  | $$|  $$$$$$\| $$$$$$$\
#  | $$   __| $$  | $$| $$  | $$| $$    $$| $$$$    | $$| $$       | $$ __ | $$| $$  | $$| $$  | $$
#  | $$__/  \ $$__/ $$| $$__| $$| $$$$$$$$| $$      | $$| $$_____  | $$|  \| $$| $$__/ $$| $$  | $$
#   \$$    $$\$$    $$ \$$    $$ \$$     \| $$      | $$ \$$     \  \$$  $$| $$ \$$    $$| $$  | $$
#    \$$$$$$  \$$$$$$   \$$$$$$$  \$$$$$$$ \$$       \$$  \$$$$$$$   \$$$$  \$$  \$$$$$$  \$$   \$$
#
#                                   -- <a href="https://github.com/codefiction">https://github.com/codefiction</a>
#
</pre>
            </p>
        </li>
        <li>
            <span class="html-symbol">&lt;/</span><span class="html-tag">section</span><span class="html-symbol">&gt;</span>
        </li>
    </ul>
</a>