
@{
    ViewBag.Title = "detail";
    Layout = null;
}

<ul>
    <li>
        <span class="html-symbol">&lt;</span><span class="html-tag">body</span><span class="html-symbol">&gt;</span>
    </li>
</ul>
<ul>
    <li>
        <span class="html-comment">&lt;!-- HTML-TOPIC-TITLE --&gt;</span>
    </li>
</ul>
<div class="html snippet-wrapper" href="">
    <ul>
        <li>
            <span class="html-symbol">&lt;</span>
            <span class="html-tag">section</span>
            <span class="html-data"> title</span>
            <span class="html-symbol">=</span>
            <span class="html-string highlighted">"{{title.title}}"</span>
            <span class="html-symbol">&gt;</span>
        </li>
        <li class="topic-entry">
            <ul ng-repeat="entry in title.entries">
                <li>
                    <span class="html-symbol">&lt;</span><span class="html-tag">div</span>
                    <span class="html-data"> author</span><span class="html-symbol">=</span>
                    <span class="html-string">"{{entry.author}}"</span>
                    <span class="html-data"> date</span><span class="html-symbol">=</span>
                    <span class="html-string">"{{entry.date}}"</span>
                    <span class="html-symbol">&gt;</span>
                </li>
                <li>
                    <ul>
                        <li>
                            <span class="html-symbol">&lt;</span><span class="html-tag">p</span><span class="html-symbol">&gt;</span>
                        </li>
                        <li>
                            <ul>
                                <li>
                                    <p class="html-paragraph" ng-bind-html="entry.content" parse-Content></p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="html-symbol">&lt;/</span><span class="html-tag">p</span><span class="html-symbol">&gt;</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="html-symbol">&lt;/</span><span class="html-tag">div</span><span class="html-symbol">&gt;</span>
                </li>
            </ul>
        </li>
        <li>
            <span class="html-symbol">&lt;/</span><span class="html-tag">section</span><span class="html-symbol">&gt;</span>
        </li>
    </ul>
</div>